*{
  margin: 0;
  padding: 0;
}
a, link
{
  color: black;
  text-decoration: none;
}
.main
{
  background-color: rgb(250, 250, 250);
}
@font-face {
  font-family: "MonserratBold";
  src: url(../../public/fonts/MontserratAlternates-Bold.ttf);
}
@font-face {
  font-family: "MonserratLight";
  src: url(../../public/fonts/MontserratAlternates-Light.ttf);
}
@font-face {
  font-family: "MonserratRegular";
  src: url(../../public/fonts/MontserratAlternates-Regular.ttf);
}
h1,h2,h3,h6,b
{
  font-family: "MonserratBold";
}
h4,h5
{
  font-family: "MonserratLight";
}
p,a
{
  font-family: "MonserratRegular";
}
button
{
  text-transform: uppercase;
  border-width: 1px;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  padding: 1%;
  width: 80%;
  font-family: "MonserratLight";
}
button:hover
{
  cursor: pointer;
}

/*Font Size*/
h2
{
  font-size: 30px;
}
h3,h4
{
  font-size: 28px;
}
h5,h6
{
  font-size: 23px;
}
p,a,b
{
  font-size: 17px;
}
button
{
  font-size: 15px;
}
/**/

.Image
{
  background-color: white;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
}
.Header
{
  display: flex;
  padding: 3.5% 7%;
  justify-content: space-between;
  border-bottom: solid;
  background-color: white;
  border-bottom-width: 1px;
  border-color: rgb(230, 230, 230);
  margin-bottom: 10%;
  box-shadow: rgb(160, 160, 160) 0px -5px 18px;
}
.Logo
{
  width: 23%;
}
.burgerMenu
{
  cursor: pointer;
  width: 7.5%;
}

.siteButton
{
  color: black;
  background-color: white;
  border: none;
  box-shadow: rgb(160, 160, 160) 0px 2px 6px;
  width: 50%;
  padding: 2%;
  margin: 5% 0%;
  border-radius: 10px;
}
.container
{
  width: 80%;
  margin: 0 7%;
}
p
{
  color: gray;
}

/**************Main Page***************/
.AboutUs h2
{
  margin-top: 15%;
  margin-bottom: 3%;
}
.categories
{
  margin-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
}
.CategoryCard
{
  border-radius: 15px;
  text-align: center;
  background-color: white;
  width: 30%;
  margin: 6% 0%;
  margin-left: 1.5%;
  padding: 5%;
  box-shadow: rgb(172, 172, 172) 3px 3px 17px;
}
.CategoryCard p
{
  font-size: 30px;
  color: black;
}
.CategoryCard button
{
  width: 100%;
  padding: 5%;
  margin-bottom: 10%;
}
.categoryCheck
{
  padding-left: 75%;
  width: 23%;
}
.title
{
  align-items: start;
  text-align: left;
  padding-left: 3%;
  margin: 5% 0% 15% 0;
}
.line
{
  margin-top: -0.5%;
  background-color: white;
  padding: 3% 20%;
  display: flex;
  align-items: center;
}

.Comunidad h2
{
  margin-top: 16%;
  margin-bottom: 5%;
}
.Comunidad button
{
  width: 80%;
}
.Us h2
{
  margin: 5% 0%;
}

/****************Footer****************/
.Footer
{
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0 10% -5%;
}
.socialNet
{
  width: 13%;
}

/***********Menu**********/
.Menu
{
  z-index: 100;
  position: fixed;
  height: 100vh;
  background-color: white;
  width: 73%;
}
.Menu h4
{
  cursor: pointer;
  margin-left: 15%;
  margin-right: 18%;
  margin-bottom: 9%;
  border-bottom: solid;
  border-color: rgb(194, 194, 194);
}
.close
{
  cursor: pointer;
  padding-top: 55%;
  padding-left: 15%;
  width: 8%;
  margin-bottom: 15%;
}
.networks
{
  margin: 30% 0%;
  display: flex;
  justify-content: space-evenly;
}

/***********WebSites********/
.WebSites h2
{
  margin-bottom: 3%;
}
.span
{
  font-family: "MonserratLight";
}
.cardTitle
{
  display: flex;
  justify-content: space-between;
  margin: 3% 0 7% 0;
}
.ServiceCard
{
  border-radius: 15px;
  background-color: white;
  width: 75%;
  margin: 5% 7.5%;
  padding: 5%;
  box-shadow: rgb(172, 172, 172) 3px 3px 17px;
}
.ServiceCard button
{
  border: solid;
  border-width: 1px;
  width: 100%;
}
.ServiceCard button:first-of-type
{
  margin-top: 10%;
  margin-bottom: 0;
}
.note
{
  margin-top: 15%;
}
.note p
{
  margin-top: 5%;
  margin-bottom: 15%;
}

/************Projects Gallery*********/
.Project
{
  margin-top: 12%;
  margin-bottom: 10%;
  background-color: white;
  padding-bottom: 5%;
}
.Project h6
{
  margin: 5% 0;
}
.Project p
{
  margin-bottom: 5%;
}

/********Media queries*******/
@media (max-width: 420px) {
  /*Font Size*/
  h2
  {
    font-size: 28px;
  }
  .CategoryCard p
  {
    font-size: 24px;
  }
  h3,h4
  {
    font-size: 25px;
  }
  h5,h6
  {
    font-size: 18px;
  }
  p,a,b
  {
    font-size: 14px;
  }
  button
  {
    font-size: 13px;
  }
  /**/
}
@media (max-width: 300px) {
  /*Font Size*/
  h2
  {
    font-size: 27px;
  }
  .CategoryCard p
  {
    font-size: 19px;
  }
  h3,h4
  {
    font-size: 16px;
  }
  h5,h6
  {
    font-size: 12px;
  }
  p,a,b
  {
    font-size: 10px;
  }
  button
  {
    font-size: 11px;
  }
  /**/
}